body{
    background-color: black;
    margin-top: 180px;
}

.post{
    width: 550px;
    height: 430px;
    background: white;
    margin: auto;
}

.head{
    width: 550px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*outline: 5px solid yellow;*/
}

.postcard{
    margin-left: 10px;
    width: 84%;
    font-family: 'Handlee', cursive;
}

.pic{
    width: 16%;
}

.info{
    width: 550px;
    height: 210px;
    position: relative;
    display: flex;
    /*outline: 5px solid red;*/
}

.texto{
    font-family: 'Handlee', cursive; 
    font-size: x-large;
    width: 57%;
    margin-left: 10px;
    margin-top: -20px;
    /*outline: 5px solid green;*/
}

.data{
    display: block;
    width: 43%;
    /*outline: 5px solid blue;*/
}

.name{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Handlee' , cursive;
    font-size: 18px;
    padding-top: 5px;
}

.email{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Handlee' , cursive;
    font-size: 18px;
    
}

.comment{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Handlee' , cursive;
    font-size: 18px;
}

.pie{
    width: 550px;
    height: 120px;
    position: relative;
    /*outline: 5px solid yellow;*/
}

.boton{
    text-decoration: none;
    padding: 1px 4px 6px;
    font-family: 'Handlee', cursive;
    font-weight: 300;
    font-size: 18px;
    background-color: lightgray;
    border-bottom-color: black;
    border-radius: 0px;
    /*border-bottom: black;*/
    position: absolute;
    top: 50%;
    left: 42%;
    margin: -25px 0 0 -25px;
}